/*
    Document   : main
    Created on : 10-dic-2012, 16:00:41
    Author     : jose
    Description: Purpose of the stylesheet follows.
*/

root {
    display: block;
}

.content {margin-top: 60px;}

.bg{
    display: block;
    height: 300px;
    background: url('../img/bg.jpg') no-repeat;
    background-size: 100% 100%;
}

#engine-calendar{width: 100%}

#container-articles{width: 640px}
#container-articles .js-table-articulos{width: 100% !important;}
#container-articles tr{cursor:pointer}
.table-striped .article_selected>td{background-color: #B0BED9 !important;}
.show_element{visibility:visible;}
.hide_element{visibility:hidden;}

.checklist-control-label{width: 0 !important}
.checklist-controls{margin-left: 70px !important}
#mn { position:fixed; }
#main-main ul { width:100%; }

#main-menu-doc {
    position:relative;
    z-index:9999;
    width:auto;
}

#price_adjustment label{ display:inline !important;}
#price_adjustment #formula label{ display:block !important;}
#price_adjustment input[type="checkbox"]{ margin:0 10px !important;}
#price_adjustment #price_selections ul input[type="text"]{max-width:30px;max-height:17px;margin:0 10px;padding:0;text-align:center;}