ol, ul {
    list-style: none;
}
ul {
    display:block;
    list-style-position:outside;
    list-style-type:none;
    margin-left:20px;
    margin-bottom:40px;
}

ul.inline {
    margin-bottom:15px;
}

li {
    text-shadow:0px 1px #f8f8f8;
   
}

.error_box {
    background:#FAD3C4;
    border:1px solid #A75B4E;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    color:#444444;
    display:none;
    font-size:13px;
    margin:0px 0px 15px 0px;
    padding:8px 8px;
    width:672px;
}



input.error{
    background: #FFE2E2;
}
em.error{color: red;font-size: 11px}

